.row
  .col-xs-3.col-sm-2.col-md-2.question-vote-container
    .well.vote(id= "question#{question.id}")= question.votes
  .col-sm-10.col-md-8.col-xs-9.col-lg-7
    %h3= link_to question.title, question_path(question)
    = question.content[0..200]