%h3 Answer this question
.row.answer-form-container.col-sm-6
  .alert.alert-danger#answer-form{style:"display:none;"}
  = bootstrap_form_for([@question,  @question.answers.build], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", remote: true, format: :json) do |f|
    = f.text_field :title, class: "answer"
    = f.hidden_field :content
    .form-group
      %label.col-sm-2.control-label{:for => "answer_text_area"} content
      .col-sm-10
        %textarea#answer_text_area.form-control.answer{cols: "60", rows: "12"}
    .col-md-offset-10
      = f.submit "Answer"
.col-sm-6.preview
  %h3
  .content
