ul.navbar-nav a {
  z-index: 9999;
  color: #666;
}
.container {
  &.questions {
    border-bottom: 1px solid #555;
    padding-bottom: 15px;
    margin-bottom: 15px;

  }
  &.questions, &.answers {
    h1, h2, h3 {
      margin-top: 0;
    }
    .answer-vote, .question-vote {
      padding: 0 5px;
    }
    .vote {
      font-size: 1.2em;
      font-weight: 600;
      padding: 15px;
      width: 70px;
      text-align: center;
      margin-right: 25px;
    }
  }
  &.main {
    font-size: 1.3em;
    margin-top: 70px;
  }
}
.btn {
  &.edit-question, &.delete-question, &.delete-answer {
    margin-left: 15px;
  }
}
.question-vote-container {
  margin-bottom: 10px;
}
.preview h3 {
  margin-top: 5px;
  margin-bottom: 15px;
}